doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title=title
        link(rel='stylesheet', type='text/css', href='/assets/framework/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/assets/framework/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/assets/framework/admin-lte/css/AdminLTE.min.css')
        link(rel='stylesheet', type='text/css', href='/assets/framework/admin-lte/css/skin-blue.css')
    block header
        
    block content

        
    block footer

    block script